@import url('fonts.css');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Circe Bold';
  color: #333333;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 728px;
  max-width: 1280px;
  background-color: #ebe8e8;
}

.calc {
  position: absolute;
  background: #ffffff;
  border-radius: 8px;
  border: solid 1px rgba(51, 51, 51, 0.1);
}

.calc__left {
  top: 82px;
  left: 140px;
  z-index: 1;
  width: 407px;
  height: 557px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 3px 7px 0 rgba(51, 51, 51, 0.15);
  padding: 50px 67px 50px 40px;
}

.calc__right {
  top: 102px;
  left: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  width: 607px;
  height: 517px;
  padding: 73px 0 90px 0;
}

.calc__right_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 314px;
}

.calc__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.cwl {
  height: 70%;
}

.cwr {
  height: 100%;
  width: 49%;
}

h2 {
  font-family: GothamPro-Bold;
  font-size: 25px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.title,
.title2 {
  display: none;
}

h3 {
  opacity: 0.6;
  font-family: Circe-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  outline: none;
}

#rangeSum {
  background: -webkit-linear-gradient(left, #4bd1a0 0%, #4bd1a0 24%, #ebebeb 24%, #ebebeb 100%);
}

#rangeMonth {
  background: -webkit-linear-gradient(left, #4bd1a0 0%, #4bd1a0 40%, #ebebeb 40%, #ebebeb 100%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: none;
  border: solid 6px #ffffff;
  border-radius: 50%;
  background-color: #4bd1a0;
  -webkit-box-shadow: 0 3px 12px 0 rgba(51, 51, 51, 0.3);
  -ms-box-shadow: 0 3px 12px 0 rgba(51, 51, 51, 0.3);
  box-shadow: 0 3px 12px 0 rgba(51, 51, 51, 0.3);
}

.output,
.number {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
}

.outputs_right {
  font-size: 25px;
  line-height: 1.28;
}

.scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.scale__grey {
  position: relative;

}

.scale__point {
  position: absolute;
  z-index: 2;

}

input[name=contribution]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: none;
  border: solid 6px #ffffff;
  border-radius: 50%;
  background-color: #4bd1a0;
  -webkit-box-shadow: 0 3px 12px 0 rgba(51, 51, 51, 0.3);
  box-shadow: 0 3px 12px 0 rgba(51, 51, 51, 0.3);
}

.radio {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
}

.percent {
  display: none;
}

.radio__btn {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.radio__text {
  position: relative;
  padding: 0px 0 0px 35px;
  display: inline-block;
}

.radio__text::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid .5px rgba(51, 51, 51, 0.3);
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
}

.radio__text::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 7px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 0 3px 7px 0 rgba(51, 51, 51, 0.15);
  border: solid 1px rgba(51, 51, 51, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.percent:checked+.radio__text::after {
  opacity: 1;
}

.percent:checked+.radio__text::before {
  background-color: #4bd1a0;
  -webkit-box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.28);
  border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.barrel__wrap {
  position: relative;
}

.barrel__green {
  z-index: 2;
  margin-bottom: 10px;
}

.blocks_width {
  width: 137px;
}

.blocks_height {
  height: 46px;
}

.block1 {
  position: absolute;
  top: -23px;
  height: 46px;
  background-color: #4bd1a0;
  border-radius: 50%;
}

.block2 {
  height: 53px;
  background-color: #3ba67f;
}

.block2__right {
  height: 153px;
}

.block3 {
  position: absolute;
  bottom: -23px;
  height: 46px;
  background-color: #3ba67f;
  border-radius: 50%;
}

.block4 {
  z-index: 1;
  position: absolute;
  top: -23px;
  height: 46px;
  background-color: #ebebeb;
  border-radius: 50%;
}

.block5 {
  position: absolute;
  height: 23px;
  background-color: #ffffff;
}

.block6 {
  bottom: -23px;
  height: 46px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-radius: 50%;
}

.deposit {
  font-family: Circe-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  padding: 20px 0 0;
}

.round {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #4bd1a0;
  width: 27px;
  height: 27px;
  border-radius: 14px;
  border: solid 1px #4bd1a0;
}

.calc__btn {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  color: #ffffff;
  width: 195px;
  height: 60px;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(245, 81, 81, 0.8);
  box-shadow: 0 4px 8px 0 rgba(245, 81, 81, 0.8);
  background-color: #f55151;
}



@media (max-width: 1024px) {
  .main {
    max-width: 1024px;
    height: 690px;
  }

  .calc__left {
    width: 389px;
    top: 52px;
    left: 30px;
    padding: 50px 49px 50px 40px;
  }

  .title {
    display: inline-block;
  }

  .calc__right {
    width: 633px;
    top: 72px;
    left: 360px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 768px;
    height: 607px;
  }

  .calc__left {
    width: 346px;
    height: 493px;
    top: 39px;
    left: 28px;
  }

  h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  .title2 {
    display: inline-block;
  }

  .calc__right {
    width: 374px;
    height: 469px;
    top: 51px;
    left: 366px;
    padding: 56px 0 86px 0;
  }

  .calc__right_wrapper {
    width: 290px;
  }

  .block2 {
    height: 49px;
  }

  .block2__right {
    height: 141px;
  }

  .blocks_width {
    width: 126.5px;
  }

  .blocks_height {
    height: 42.5px;
  }

  .outputs_right {
    font-size: 23px;
    line-height: 1.26;
  }

  .deposit {
    padding: 18.5px 0 0;
  }
}

@media (max-width: 767px) {
  .main {
    width: 100%;
    height: 1024px;
  }

  .calc__left {
    width: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .calc__right {
    width: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 506px;
  }
}

@media (max-width: 420px) {
  .calc__left {
    top: 10px;
    padding: 25px;
    height: 430px;
  }

  .calc__right {
    top: 420px;
    padding: 50px 0;
  }

  .calc__right_wrapper {
    width: 95%;
  }

  .cwr {
    width: 38%;
  }

  .outputs_right {
    font-size: 20px;
    line-height: 1.2;
  }

  .blocks_width {
    width: 120px;
  }
}

@media (max-width: 380px) {

  .cwl,
  .cwr {
    width: 50%;
  }
}

@media (max-width: 320px) {
  .main {
    height: 860px;
  }

  .calc__left {
    width: 272px;
    height: 386px;
    top: 46px;
    padding: 30px 20px 28px 20px;
  }


  h2 {
    font-size: 16px;
    line-height: 1.5;
  }

  .title2 {
    display: none;
  }

  h3 {
    font-size: 14px;
    line-height: 1.43;
  }

  .sum,
  .term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .number {
    font-size: 16px;
    line-height: 1.44;
  }

  .calc__right {
    width: 242px;
    height: 416px;
    top: 356px;
    padding: 106px 0 60px 0;
  }

  .calc__right_wrapper {
    width: 220px;
  }


  .barrels__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .block2 {
    height: 28.5px;
  }

  .block2__right {
    height: 82.5px;
  }

  .blocks_width {
    width: 74px;
  }

  .blocks_height {
    height: 25px;
  }

  .outputs_right {
    font-size: 18px;
    line-height: 1.78;
  }

  .deposit {
    padding: 30px 0 0;
    font-size: 14px;
    line-height: 2.29;
  }

  .block1,
  .block4 {
    top: -13px;
  }

  .block3 {
    bottom: -13px;
  }

  .block5 {
    bottom: 10px;
  }

  .cwl {
    height: 80%;
  }

  .calc__btn {
    font-size: 16px;
    line-height: 3;
    width: 209px;
  }
}